<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>
	@Styles.Render("~/content/css")
	@*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
	<nav class="navbar navbar-inverse navbar-toggleable-md bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		@Html.ActionLink("SandBox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
				</li>
				<li class="nav-item">
					@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Form", "Index", "Form", null, new { @class = "nav-link" })
				</li>
				<li class="nav-item">
					@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		@RenderBody()

		<hr>
		<footer>
			<p>@DateTime.Now.Year</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/app")
	@RenderSection("scripts", required: false)
</body>
</html>
